<!DOCTYPE html>
<!--The HTML document type declaration, also known as DOCTYPE , is the first line of code required in every HTML or XHTML document.
     The DOCTYPE declaration is an instruction to the web browser about what version of HTML the page is written in.
      This ensures that the web page is parsed the same way by different web browsers-->
<html>
<!--An HTML element is a component of an HTML document that tells a web browser how to structure and interpret a part of the HTML document.-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The <meta> tag defines metadata about an HTML document. Metadata is data (information) about data. 
    <meta> tags always go inside the <head> element, and are typically used to specify character set, page description, keywords, author of the document, and viewport settings.-->
    <title>Odd Erik Blixt Haaskjold</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav><input type="checkbox" id="check_menu"><label for="check_menu" class="menu_icon">☰</label>
        <ul id="navul">
            <a href="index.html"><li>Hjem</li></a>
            <a href="prod.html"><li>Websiden</li></a>
            <a href="IKT.html"><li>Fotoprosjekt</li></a>
            <a href="amalie_skram.html"><li>Amalie Skram</li></a>


        </ul>
    </nav>
    <section>
        <h1>Fotoprosjekt</h1>
        <h2>Media Oppgaven</h2>
        <p>Så bilde oppgaven var den første oppgaven vi ble karakter satt på innenfor media. Bilde oppgaven gikk ut på
            at vi skulle lage en fortelling om noe eller noen gjennom fire bilder. Jeg valgte å lage en bildehistorie om
            noen som vokste opp alene, ble inkludert og fikk det mye bedre.
        </p>
        <h4>Bilde 1</h4>
        <p>Det første bildet ble tatt med en dukke som hovedperson. Dette var på grunn av at jeg ville bruke dukker som
            modellene mine. Dette ble et problem senere fordi det var vanskelig å få tak i dukker med spesifikke
            detaljer som var viktig til historien. Jeg fikk bare ett bilde med dukkene så det første bildet. Det er
            ingenting som får deg til å tenke at det var en del av den historien. Men orginal tanken min var at jeg
            skulle det første bildet skulle vise hovedpersonen al
            ene siden starten av livet sitt.
        </p>
        <div class="bilde_container">
            <img src="static/Barnet (2).jpg" alt="A picture of a baby alone" class="bilde">
        </div>
        <h4>Bilde 2
        </h4>
        <p>Med dette bildet ville jeg vise at barnet hadde blitt eldre og at de fortsatt var alene. Her redigerte jeg og
            bilde til å være mørkere i tillegg til å fjerne ett av beina til hovedpersonen</p>
        <div class="bilde_container">
            <img src="static/TristAlene (2).jpg" alt="Teenager alone in a empty classroom" class="bilde">
        </div>
        <h4>Bilde 3</h4>
        <p>Her brukte jeg hoved personens synsvinkel til å vise hvordan det føles når noen kommer til deg for å snakke
            med deg om du føler deg alene.</p>
        <div class="bilde_container">
            <img src="static/BildeAvVenn (2).jpg" alt="Friend comming to cheir you up" class="bilde">
        </div>
        <h4>Bilde 4</h4>
        <p>I bilde fire viste jeg de to nye vennene gå hjem sammen med en mye lysere lighting for å vise at hoved
            personen har kommet til ett nytt og lysere kappittel i livet sitt. I dette bilde måtte jeg jobbe mye med
            photoshop for å fjerne både foten til hovedpersonen og syggen hans. </p>
        <div class="bilde_container">
            <img src="static/ToVenner copy (2).jpg" alt="two friends headed home from school" class="bilde">

            <div id="p1">
                <h4>Konklusjon</h4>I konklusjon så føler jeg at dette var en god bilde historie til tross for at det var
                min første fortelling fortalt gjennom bilder. Sefølgelig er det mange ting jeg hadde forandret på om jeg
                skulle gjordt oppgaven i gjenn med den kunskapen jeg har nå, men
            </div>
        </div>
    </section>
    <div class="logo_holder">
        <img src="static/logo.png" alt="logo" class="logo">
    </div>
</body>

<html>