 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 
 body{
    background-color: #A8A8A8;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;

 }
 #specialp{

    color: blue;
 }
 p{
    color: rgb(22, 22, 22);
 }
.boldtext{
   
    font-style: italic;
}
h1{
 
    font-family:'Segoe UI';
    font-weight: 100;
    font-size: 90px;
}
section{
    width: 85%;
    margin-left:auto;
    margin-right: auto;
    background-color: whitesmoke;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    padding-left: 5vh;
    padding-right: 5vh;


}

.logo_holder{
 position:fixed;/*denne skal altid være på det samme stedet*/
 width:100%;
 bottom: 0px;
 right:0px;
 padding: 10px;
 padding: 10px;
}

.logo{
    width: 70px;
    border-radius: 5px;
    padding:  5px;
    margin-left:auto;
    
}

nav{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    width: 100%;
    display: flex; /*denne gjør at dette elemente overrider de andre elementene som ligger utenfor dette*/
    position: fixed;
    top:0;
   
}


#check_menu{
    display:none;
}
@media screen and (max-width: 1000px){
    /* buker usynlig checkbox for å toggle på og av menyen i #navul */

    #check_menu:not(:checked) ~ #navul{
        display:none;
    }
    ul > a,ul > a:hover,ul > a:visited,ul> a:active{
        text-decoration: none;
        color:white;    
        
        
    }
    #check_menu:checked ~ #navul{ /*targeter kun ul i nav elementet*/
        display: block;
        position:absolute;
        top:40px;
        left:10px;
        list-style:none;
        width: 20ch;
        padding:10px;
        background-color: #52ACFF;
        color:white;
        border-radius: 5px;
        
        margin-top: 5px;
    }
    li{
        padding-bottom: 3px;
        padding-left:3px;
    }
    .menu_icon{
        width:2.5ch; /* tre symbol i vidde*/
        text-align: center;
        font-size: x-large;
        background-color: #52ACFF;
        color:white;
        margin-left:10px;
        padding: 3px 6px;
        border-radius: 5px;
    }
    .menu_icon:hover{
        background-color: #3677b3;
        transition: ease-out 0.2s;
    }
    
    h1{
        font-size: xx-large;
    }
    li:hover{
        background-color: #3677b3;
        transition: ease-out 0.2s;
    }
    li:active{
        background-color: #1f4263;
        
    }
    .registrer{
        padding-left:82%;
        padding-top:5px;
    }
}

@media screen and (min-width: 1001px){
    .menu_icon{
        display:none;
    }
    nav ul{ /*targeter kun ul i nav elementet*/
        list-style:none;
        width: 100%;
    }
    li{
        padding: 6px 10px;
        background-color: #52ACFF;
        color:white;
        border-radius: 5px;
        margin-left: 5%;
        margin-top: 5px;
        display: inline-block;
        transition: ease-out 0.2s;
        width:140px;
        text-align: center;
    }
    li:hover{
        background-color: #3677b3;
        transition: ease-out 0.2s;
    }
    li:active{
        background-color: #1f4263;
        
    }
    ul>a:link,ul>a:hover,ul>a:visited,ul>a:active{
        text-decoration: none;
        color:white;    
        width:140px;
        height: 100%;
    }

    .registrer{
        padding-left:90%;
        padding-top:5px;
    }

}


.bilde{
    width: max(80%, 320px);
    display:block;
    margin:0 auto;
    border: 2px solid;
    border-bottom-color: lightgrey;
    border-right-color: lightgrey;
    border-top-color: rgb(58, 58, 58);
    border-left-color: rgb(58, 58, 58);
}

.bilde_container{
    padding: 20px;

}
p{
    padding-bottom: 4px;
    line-height:2.5ch;

}
h4{
    padding-top: 4px;
}
h2{
    padding-top: 6px;
    padding-bottom: 3px;
}

#p1{
    margin-top: 50px;
    padding: 4px;
    font-size:24px;
    border: 1px solid #1d1d1d;
}
.artikkel{
    padding-bottom: 10px;
    
}
.button{
    text-decoration:none;
    width: 20ch;
    padding:10px;
    background-color: #52ACFF;
    color:white;
    border-radius: 5px;
    margin-top: 10px;
}


/* . definerer class */
/* # definerer id */
/* du kan liste elementer med komma */
/* ingen symboler foran tags/elementer */